.box1 {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  background-color: tan;
}
.box2 {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  background-color: blueviolet;
}
ul li:nth-child(1) {
  width: 50px;
}
ul li:nth-child(2) {
  width: 100px;
}
ul li:nth-child(3) {
  width: 150px;
}
ul li:nth-child(4) {
  width: 200px;
}
ul li:nth-child(5) {
  width: 250px;
}
ul {
  list-style: none;
}
ul li {
  height: 20px;
  background: burlywood;
  margin: 0 auto;
}
